
@tailwind preflight;
@tailwind components;

.menu-link {   
    @apply flex-none;
    @apply font-serif;
    @apply font-semibold;
    @apply text-center;
    @apply py-0 px-1 m-1;
    @apply bg-grey-light;
    @apply border-grey border-r border-l border-b border-t;
    @apply text-lg text-indigo-darker no-underline;
}

.content-section-box {
    @apply leading-tight;
    @apply whitespace-pre-line;
    @apply min-h-screen max-w-full pt-32 pb-32 px-1 m-0 mt-8;
}

img { 
    max-width: 600px;
    clear:both;
    @apply resize;
}

img.social { 
    width: 20px;
    opacity: 0.65;
}

a { 
    @apply text-indigo-dark;
}

ol {
    @apply leading-none;
    @apply text-sm;
    @apply -mb-2;
    @apply -mt-4;
}

ul {
    @apply leading-none;
    @apply text-sm;
    @apply -mb-2;
    @apply -mt-4;
}

li { 
    @apply m-0 p-0 leading-none;
    @apply -mb-1;
    @apply -mt-1;
}

h1 { 
    @apply font-serif font-semibold;
}

h2 { 
    @apply font-serif font-semibold;
}

h3 { 
    @apply font-serif font-semibold;
    @apply -mb-2;
}

h4 { 
    @apply font-serif font-semibold;
    @apply -mb-2;
}

h5 { 
    @apply font-serif font-medium;
}

@tailwind utilities;
