
@tailwind preflight;
@tailwind components;

.main {
    @apply font-sans;
}

.nav {
    @apply font-serif;
}

#menu-title {
    @apply text-3xl;
    @apply text-left pr-2 pb-2 m-0 pl-32 mb-2;
    @apply float-left;
    @apply flex-none;
}

.menu-item {   
    @apply flex-1;
    @apply font-sans;
    @apply px-2 m-1 float-left float-right;
    @apply text-center;
    @apply border-grey-light border-r border-l border-b border-t;
}

.menu-link {   
    @apply p-0 mx-4;
    @apply text-lg text-indigo-darker no-underline;
}

.content-section-box {
    @apply leading-tight;
    @apply whitespace-pre-line;
    @apply min-h-screen max-w-full pt-32 pb-32 px-1 m-0 mt-8;
}

img.social { 
    width: 28px;
    opacity: 0.25;
}

a { 
    @apply text-indigo-dark;
}

ol {
    @apply leading-none;
    @apply text-sm;
}

ul {
    @apply leading-none;
    @apply text-sm;
}

li { 
    @apply m-0 p-0 leading-none;
}

@tailwind utilities;
